body{
    margin: 0px;
    padding: 0px;
    background-color: #033723;
    color: #fdfffc;
    text-align: center;
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpngtree.com%2Ffree-backgrounds&psig=AOvVaw1uOf9AacRD05pkF974NWwG&ust=1691229291334000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCOCM053ewoADFQAAAAAdAAAAABAE);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    font-size: 45px;
}

input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: rgb(212, 43, 17);
    border-style: none;

}

.btn:hover{
    background-color:rgb(33, 14, 209);
    cursor: pointer;
}